*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
.DS_Store

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/build/

/nbproject/private/
nbproject/project.properties
nbproject/build-impl.xml
nbproject/genfiles.properties
/dist/

src/main/java/mpascal2/Parser.java
src/main/java/mpascal2/sym.java
src/main/java/mpascal2/Flexer.java~
src/main/java/mpascal2/FlexerWordsA.java~
src/main/java/mpascal2/Lexer.java~
src/main/java/mpascal2/PascalFlexer.java~
Quads.txt
SymTable.txt
MIPSFinalCode.s
AST.xml

